<div class="panel panel-info" data-kfa-id="<%= key_focus_area.id %>">
  <div class="panel-body">
    
    <div class="flex layout-row layout-align-space-between-center logo-row">
      <h4><%= key_focus_area.name %></h4>
      <%= image_tag key_focus_area.logo.url(:thumb), alt: "Key Focus Area logo", class: "img-responsive" if key_focus_area.logo.present? %>
    </div>

    <div class="row">
      <label class="col-sm-2 col-xs-3 form-label control-label">Goal</label>
      <div class="col-sm-10 col-xs-9">
        <p><%= key_focus_area.goal %></p>
      </div>
    </div>

    <% if action_name == 'show' %>
      <div class="row">
        
        <label class="col-sm-2 col-xs-3 form-label control-label">Objectives</label>
        
        <div class="col-sm-10 col-xs-9">
          <% key_focus_area.objectives.each do |objective| %>
            <p>
              <%= link_to objective, class: "icon-action", 'aria-label': "Info", title: 'Take me to this objective', data: {toggle: 'tooltip', placement: 'top'} do %>
                <i class="fa fa-fw fa-info text-primary"></i>
              <% end %>
              
              <strong><%= objective.name %>:</strong> <%= objective.description %>
            </p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-2 col-xs-3 form-label control-label">Measures</label>
        <div class="col-sm-10 col-xs-9">
          <% key_focus_area.measures.each do |measure| %>
            <p>
              <%= link_to measure, class: "icon-action", 'aria-label': "Info", title: 'Take me to this measure', data: {toggle: 'tooltip', placement: 'top'} do %>
                <i class="fa fa-fw fa-info text-primary"></i>
              <% end %>
              <%= measure.description %>
            </p>
          <% end %>
        </div>
      </div>
    
      <div class="row">
        <label class="col-sm-2 col-xs-3 form-label control-label">Created By</label>
        <div class="col-sm-10 col-xs-9">
          <p><%= key_focus_area.author.try(:email) %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-2 col-xs-3 form-label control-label">Last Edited by</label>
        <div class="col-sm-10 col-xs-9">
          <p><%= key_focus_area.last_editor.try(:email) %></p>
        </div>
      </div>
    <% end %>


    <%= render partial: "shared/card_actions", locals: { resource: key_focus_area } %>

  </div>
</div>