<div class="panel panel-info" data-objective-id="<%= objective.id %>" data-objective-kfa="<%= objective.key_focus_area.try(:name) %>">
  <div class="panel-body">
    
    <div class="row">
      <label class="col-xs-4 control-label form-label capitalize">key focus area</label>
      <div class="col-xs-8 layout-row layout-align-space-between-center">
        <p class="kfa-name"><%= objective.key_focus_area.try(:name) %></p>
        <div class="kfa-logo-card">
          <%= image_tag objective.key_focus_area.logo.url(:thumb), alt: "Key Focus Area logo", class: "img-responsive" if objective.key_focus_area.logo.present? %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <label class="col-xs-4 control-label form-label capitalize">Name</label>
      <div class="col-xs-8">
        <p><%= objective.name %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label form-label capitalize">description</label>
      <div class="col-xs-8">
        <p><%= objective.description %></p>
      </div>
    </div>

    <% if action_name == 'show' %>
      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Measures</label>
        <div class="col-xs-8">
          <% objective.measures.each do |measure| %>
            <p>
              <%= link_to measure, class: "icon-action", 'aria-label': "Info", title: 'Take me to this measure', data: {toggle: 'tooltip', placement: 'top'} do %>
                <i class="fa fa-fw fa-info text-primary"></i>
              <% end %>
              <%= measure.description %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>


    <% if action_name == 'show' %>
      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Created By</label>
        <div class="col-xs-8">
          <p><%= objective.author.try(:email) %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Last Edited by</label>
        <div class="col-xs-8">
          <p><%= objective.last_editor.try(:email) %></p>
        </div>
      </div>
    <% end -%>

    <%= render partial: "shared/card_actions", locals: { resource: objective } %>

  </div>
</div>