<p id="notice"><%= notice %></p>

<p>
  <strong>Key focus area:</strong>
  <%= @objective.key_focus_area_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @objective.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @objective.description %>
</p>

<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>
