<p id="notice"><%= notice %></p>

<h1>Listing Performance Factor Entries</h1>

<table>
  <thead>
    <tr>
      <th>Performance factor</th>
      <th>Measure report</th>
      <th>Data</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performance_factor_entries.each do |performance_factor_entry| %>
      <tr>
        <td><%= performance_factor_entry.performance_factor %></td>
        <td><%= performance_factor_entry.measure_report %></td>
        <td><%= performance_factor_entry.data %></td>
        <td><%= performance_factor_entry.comments %></td>
        <td><%= link_to 'Show', performance_factor_entry %></td>
        <td><%= link_to 'Edit', edit_performance_factor_entry_path(performance_factor_entry) %></td>
        <td><%= link_to 'Destroy', performance_factor_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Performance factor entry', new_performance_factor_entry_path %>
