<p id="notice"><%= notice %></p>

<p>
  <strong>Performance factor:</strong>
  <%= @performance_factor_entry.performance_factor %>
</p>

<p>
  <strong>Measure report:</strong>
  <%= @performance_factor_entry.measure_report %>
</p>

<p>
  <strong>Data:</strong>
  <%= @performance_factor_entry.data %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @performance_factor_entry.comments %>
</p>

<%= link_to 'Edit', edit_performance_factor_entry_path(@performance_factor_entry) %> |
<%= link_to 'Back', performance_factor_entries_path %>
