<% parents.each_with_index do |parent, idx| %>
  <div class="row">
    
    <label class="<%= label_width %> control-label form-label capitalize"><%= parent.model_name.human %></label>
    
    <div class="<%= content_width %> layout-row layout-align-space-between-stretch">
      
      <p><%= parent.try(:name) %></p>
      
      <% if idx == 0 %>
        <div class="kfa-logo-card">
          <%= image_tag parent.logo.url(:thumb), alt: "Key Focus Area logo", class: "img-responsive" if parent.logo.present? %>
        </div>
      <% end -%>

    </div>
  </div>
<% end %>