<div class="form-group">
  <%= measure_fields.label :description, "Description*", class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_area :description, class: "form-control", required: true %>
  </div>
</div>

<div class="form-group">
  <%= measure_fields.label :target, class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_field :target, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= measure_fields.label :unit_of_measure, "Unit of Measure*", class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_field :unit_of_measure, class: "form-control", required: true %>
  </div>
</div>

<div class="form-group">
  <%= measure_fields.label :measurement_formula, class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_field :measurement_formula, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= measure_fields.label :data_source, class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_field :data_source, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= measure_fields.label :frequency_data_available, class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_field :frequency_data_available, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= measure_fields.label :rationale_for_target, class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_field :rationale_for_target, class: "form-control" %>
  </div>
</div>


<legend class="sublegend">Performance Factors</legend>
<p class="text-info">Leave blank if there are <b>not</b> multiple factors</p>

<%= measure_fields.fields_for :performance_factors do |factor_fields| %>
  <%= render partial: "factor_fields", locals: { factor_fields: factor_fields } %>
<% end %>

<div class="form-group">
  <%= link_to "Add a factor", "#", class: "add-factor btn btn-success pull-right" %>
</div>


<legend class="sublegend">Data Contact</legend>

<div class="form-group">
  <%= measure_fields.label :data_contact_person, "Name", class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_field :data_contact_person, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= measure_fields.label :data_contact_person_email, "Email", class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_field :data_contact_person_email, class: "form-control" %>
  </div>
</div>


<legend class="sublegend">Person Reporting to BMS</legend>

<div class="form-group">
  <%= measure_fields.label :person_reporting_data_to_bms, "Name", class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_field :person_reporting_data_to_bms, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= measure_fields.label :person_reporting_data_to_bms_email, "Email", class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_field :person_reporting_data_to_bms_email, class: "form-control" %>
  </div>
</div>


<legend class="sublegend">Extras</legend>

<div class="form-group">
  <%= measure_fields.label :notes, class: "col-md-3 control-label" %>
  <div class="col-md-9">
    <%= measure_fields.text_area :notes, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="col-md-9 col-md-offset-3">
    <%= link_to 'Cancel', performance_measures_path, class: "btn btn-default" %>
    <%= measure_fields.submit class: "btn btn-primary" %>
  </div>
</div>