<% parents = performance_measure.parents %>
<div class="panel panel-info" data-measure-id="<%= performance_measure.id %>" data-objective-kfa="<%= parents[0].name %>" data-objective-name="<%= parents[1].name %>">
  <div class="panel-body">

    <%= render partial: 'shared/parents_information', locals: { parents: parents, label_width: "col-xs-4", content_width: "col-xs-8" } %>
    
    <div class="row">
      <label class="col-xs-4 control-label form-label capitalize">Description</label>
      <div class="col-xs-8">
        <p><%= performance_measure.description %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label form-label capitalize">target</label>
      <div class="col-xs-8">
        <p><%= performance_measure.target %></p>
      </div>
    </div>


<!-- TEMP -->
    <%= form_for performance_measure, remote: true, html: { class:"form-horizontal" } do |fields| %>
      <div class="form-group">
        <label class="col-xs-4 control-label form-label capitalize">Frequency Data is Available</label>
        <div class="col-xs-8 layout-row">
          <%= fields.text_field :frequency_data_available, class: "form-control flex" %>
          <%= button_tag class: "btn btn-success icon-action", 'aria-label': "Save Changes", title: 'Save Changes', data: {toggle: 'tooltip', placement: 'top'} do %>
            <i class="fa fa-fw fa-check"></i>
          <% end -%>
          <%= link_to performance_measures_path, class: "icon-action", 'aria-label': "Refresh Page", title: 'Refresh Page', data: {toggle: 'tooltip', placement: 'top'} do %>
            <i class="fa fa-fw fa-refresh"></i>
          <% end -%>
        </div>
      </div>
    <% end %>

    <div class="row">
      <label class="col-xs-4 control-label form-label capitalize">Frequency Data is Available</label>
      <div class="col-xs-8">
        <p id="frequency-data-available"><%= performance_measure.frequency_data_available %></p>
      </div>
    </div>
<!-- TEMP END -->

    <% if action_name == 'show' %>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">unit of measure</label>
        <div class="col-xs-8">
          <p><%= performance_measure.unit_of_measure %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">measurement formula</label>
        <div class="col-xs-8">
          <p><%= performance_measure.measurement_formula %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">data source</label>
        <div class="col-xs-8">
          <p><%= performance_measure.data_source %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Frequency Data is Available</label>
        <div class="col-xs-8">
          <p><%= performance_measure.frequency_data_available %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Rationale for Target</label>
        <div class="col-xs-8">
          <p><%= performance_measure.rationale_for_target %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Performance Factors</label>
        <% factors = performance_measure.performance_factors %>
        <div class="col-xs-8">
          <%= content_tag :p, "N/A" if factors.length == 0 %>
          <ul>
          <% factors.each do |factor| %>
            <li><%= factor.label_text %></li>
          <% end %>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <h5 class="md-primary">Data Contact</h5>
        </div>
      </div>
      
      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Name</label>
        <div class="col-xs-8">
          <p><%= performance_measure.data_contact_person %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Email</label>
        <div class="col-xs-8">
          <p><%= performance_measure.data_contact_person_email %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h5 class="md-primary">Person Reporting to BMS</h5>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Name</label>
        <div class="col-xs-8">
          <p><%= performance_measure.person_reporting_data_to_bms %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Email</label>
        <div class="col-xs-8">
          <p><%= performance_measure.person_reporting_data_to_bms_email %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h5 class="md-primary">Extras</h5>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Notes</label>
        <div class="col-xs-8">
          <p><%= performance_measure.notes %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label">Created By</label>
        <div class="col-xs-8">
          <p><%= performance_measure.author.try(:email) %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label">Last Edited by</label>
        <div class="col-xs-8">
          <p><%= performance_measure.last_editor.try(:email) %></p>
        </div>
      </div>
    <% end %>


    <% if action_name == "index" %>
      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Data Contact</label>
        <div class="col-xs-8">
          <p><%= performance_measure.data_contact_person %></p>
          <p><%= performance_measure.data_contact_person_email %></p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-4 control-label form-label capitalize">Person Reporting to BMS</label>
        <div class="col-xs-8">
          <p><%= performance_measure.person_reporting_data_to_bms %></p>
          <p><%= performance_measure.person_reporting_data_to_bms_email %></p>
        </div>
      </div>
    <% end -%>
    
    <%= render partial: "shared/card_actions", locals: { resource: performance_measure } %>

  </div>
</div>