<div class="layout-row layout-align-end-center break-after">
  <h3>Performance Measures</h3>
  <%= hidden_field_tag "page_is_dirty", 0 %>
  <span class="flex"></span>
  
  <%= admin_content { link_to 'New Measure', new_performance_measure_path, class: "btn btn-success spaced-items" } %>
  <%= link_to download_performance_measures_path(format: :xls), class: "btn btn-default spaced-items" do %>
    <i class="fa fa-fw fa-file-excel-o"></i> Download Measures
  <% end %>
</div>

<div class="layout-row flex layout-align-end-center">
  <%= link_to performance_measures_path(filter_data_contact: true), class: "text-info spaced-items" do %>
    <i class="fa fa-lg fa-filter"></i> Only show me measures where I am the data contact
  <% end -%>
  <%= link_to performance_measures_path, class: "text-info spaced-items" do %>
    <span class="fa-stack fa-lg">
      <i class="fa fa-filter fa-stack-1x"></i>
      <i class="fa fa-ban fa-stack-2x"></i>
    </span>
    Clear Filters
  <% end -%>
</div>
  
<div class="row flex-row">
  <% @performance_measures.each do |performance_measure| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <%= render performance_measure %>
    </div>
  <% end %>
</div>