<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @performance_measure, html: { class:"form-horizontal" } do |measure_fields| %>
      <fieldset>
        <legend><%= action_name.capitalize %> Performance Measure Form</legend>
        
        <%= render partial: 'shared/error_messages', locals: { resource: @performance_measure } %>

        <div class="form-group" id="key-focus-area-selection">
          <label for="key_focus_area_id" class="col-md-3 control-label">Key Focus Area</label>
          <div class="col-md-9">
            <%= collection_select(  :objective,
                                    :key_focus_area_id,
                                    KeyFocusArea.order(:name),
                                    :id,
                                    :name,
                                    { prompt: "Please select the Key Focus Area" },
                                    class: "form-control" ) %>

            <%= measure_fields.hidden_field(:measurable_type) %>
          </div>
        </div>

        <div id="new-measure-fields" class="hide">
          <%= render partial: 'form', locals: { measure_fields: measure_fields } %>
        </div>
        
      </fieldset>
    <% end %>
  </div>
</div>