<div class="form-group" data-fields-index="<%= fields.index %>">

  <div class="col-md-4">
    <%= fields.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="col-md-4">
    <%= fields.email_field :email, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="col-md-4">
    <div class="row">
      
      <div class="col-xs-10">
        <% if fields.object.category == "Implementation Team Leads" || fields.object.category == "Extended Project Members" %>
          <%= fields.select :department, ["Budget and Management Services", "City Attorney", "City Clerk", "City Council", "City Manager's Office", "City Planning", "Communications", "Convention Center and Performing Arts", "Development Services", "Economic Development and Innovation", "Emergency Communications", "Emergency Management and Special Events", "Engineering Services", "Finance", "Fire", "Housing and Neighborhoods", "Human Resources", "Information Technology", "Internal Audit", "Parks, Recreation, and Cultural Resources", "Police", "Public Utilities", "Solid Waste Services", "Sustainability", "Transportation"], { prompt: "Department" }, class: "form-control department-select" %>
        <% else %>
          <%= fields.text_field :department, placeholder: "Organization", class: "form-control" %>
        <% end -%>
      </div>
      
      <div class="col-xs-2">
        <% if fields.object.persisted? %>
          <%= fields.hidden_field :_destroy %>
          <%= link_to "#", class: "text-danger remove-fields text-center", 'aria-label': "Remove", title: 'Remove Member', data: {toggle: 'tooltip', placement: 'top'} do %>
            <i class="fa fa-fw fa-minus"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>