<div id="performance-factor-entries">

  <%= report_fields.fields_for :performance_factor_entries do |factor_entry_fields| %>
    
    <% factors = measure_report.form_factors %>
    <% factors.each_with_index do |factor, idx| %>
      
      <% if idx == 0 %>
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <legend class="sublegend">Performance Factors</legend>
          </div>
        </div>
      <% end %>
      
      <%= factor_entry_fields.hidden_field :performance_factor_id, value: factor.id, name: "measure_report[performance_factor_entries_attributes][#{idx}][performance_factor_id]" %>
      
      <div class="form-group">
        <%= factor_entry_fields.label :data, factor.label_text, class: "col-md-3 control-label" %>
        <div class="col-md-9">
          <%= factor_entry_fields.text_field :data, class: "form-control", required: true, pattern: pattern_for_field_type(factor.field_type), name: "measure_report[performance_factor_entries_attributes][#{idx}][data]" %>
          <%= content_tag :p, "This field allows only numbers and may include these symbols: $,.%", class: "form-hint" if factor.field_type == "number" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= factor_entry_fields.label :comments, "Additional Comments", class: "col-md-3 control-label" %>
        <div class="col-md-9">
          <%= factor_entry_fields.text_area :comments, class: "form-control", name: "measure_report[performance_factor_entries_attributes][#{idx}][comments]" %>
        </div>
      </div>
    
      <% if idx == factors.length - 1 %>
        <br />
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <legend class="sublegend">Performance Status</legend>
          </div>
        </div>
      <% end %>
    <% end %>
    

  <% end %>
  
</div>