<%= form_for @measure_report, remote: true, html: { class:"form-horizontal" }, data: { turbolinks: true } do |report_fields| %>
  <fieldset>
    <legend>Measure Validation and Results Submission Form</legend>

    <div class="form-group" id="key-focus-area-selection">
      <label for="key_focus_area_id" class="col-md-3 control-label">Key Focus Area</label>
      <div class="col-md-9">
        <%= collection_select :objective,
                              :key_focus_area_id,
                              KeyFocusArea.all,
                              :id,
                              :name,
                              { prompt: "Please select the Key Focus Area" },
                              class: "form-control",
                              required: true  %>
      </div>
    </div>

    <hr>

    <div class="panel panel-info hide" id="report-data-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Current Data</h3>
      </div>
      
      <div class="col-xs-12 well layout-row layout-align-space-between-center date-section">
        <p class="date-text">Reporting Period:&nbsp;</p>
        <%= report_fields.date_select :date_start, { order: [:month, :year], with_css_classes: true }, { class: "form-control flex" } %> 
        <p class="date-text">to</p>
        <%= report_fields.date_select :date_end, { order: [:month, :year], with_css_classes: true }, { class: "form-control flex" } %>
      </div>
      
      <div class="panel-body">

        <%= report_fields.fields_for :performance_factor_entries do |factor_entry_fields| %>
          <legend class="sublegend">Performance Factors</legend>
          <% @measure_report.form_factors.each_with_index do |factor, idx| %>
            
            <%= factor_entry_fields.hidden_field :performance_factor_id, value: factor.id, name: "measure_report[performance_factor_entries_attributes][#{idx}][performance_factor_id]" %>
            
            <div class="form-group">
              <%= factor_entry_fields.label :data, factor.label_text, class: "col-md-3 control-label" %>
              <div class="col-md-9">
                <%= factor_entry_fields.send("#{factor.field_type}_field", :data, { class: "form-control", required: true, name: "measure_report[performance_factor_entries_attributes][#{idx}][data]" } ) %>
              </div>
            </div>
            
            <div class="form-group">
              <%= factor_entry_fields.label :comments, "Additional Comments", class: "col-md-3 control-label" %>
              <div class="col-md-9">
                <%= factor_entry_fields.text_area :comments, class: "form-control", name: "measure_report[performance_factor_entries_attributes][#{idx}][comments]" %>
              </div>
            </div>
          <% end %>
          <legend class="sublegend"></legend>
        <% end %>
        
        <%= render partial: 'common_form_fields', locals: { report_fields: report_fields } %>

      </div>
    </div>

    <%= link_to 'Cancel', measure_reports_path, class: "btn btn-default" %>

  </fieldset>
<% end %>
