<div class="panel panel-info" data-report-id="<%= measure_report.id %>">
  
  <div class="col-xs-12 bg-default">
    <p>Period from <strong><%= formatted_date(measure_report.date_start) %></strong> to <strong><%= formatted_date(measure_report.date_end) %></strong></p>
  </div>

  <div class="panel-body">
    
    <% measure_report.performance_measure.parents.each do |parent| %>
      <div class="row">
        <label class="col-xs-4 control-label measure-report-label capitalize"><%= parent.model_name.human %></label>
        <div class="col-xs-8">
          <p><%= parent.name %></p>
        </div>
      </div>
    <% end %>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Measure</label>
      <div class="col-xs-8">
        <p><%= measure_report.performance_measure.description %></p>
      </div>
    </div>

    <% if action_name == "show" %>
      
      <% entries = measure_report.performance_factor_entries %>
      <% entries.each_with_index do |entry, idx| %>
        
        <%= tag :hr if idx == 0 %>
        
        <div class="row">
          
          <label class="col-xs-4 control-label measure-report-label"><%= entry.performance_factor.label_text %></label>
          
          <div class="col-xs-4">
            <p><%= entry.data %></p>
          </div>
          
          <div class="col-xs-6">
            <p><%= entry.comments %></p>
          </div>
          
        </div>
        
        <%= tag :hr if idx == entries.size - 1 %>
      
      <% end %>

    <% end %>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Performance</label>
      <div class="col-xs-8">
        <p><%= measure_report.performance %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Status</label>
      <div class="col-xs-8">
        <p><%= measure_report.status %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Comments</label>
      <div class="col-xs-8">
        <p><%= measure_report.comments %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">BMS Comments</label>
      <div class="col-xs-8">
        <p><%= measure_report.bms_comments %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Person Reporting To BMS</label>
      <div class="col-xs-8">
        <p><%= measure_report.performance_measure.person_reporting_data_to_bms %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Posted by</label>
      <div class="col-xs-8">
        <p><%= measure_report.author.try(:email) %></p>
      </div>
    </div>

    <% if action_name == "show" %>
      <div class="row">
        <label class="col-xs-4 control-label measure-report-label">Last Edited by</label>
        <div class="col-xs-8">
          <p><%= measure_report.last_editor.try(:email) %></p>
        </div>
      </div>
    <% end -%>

    
    <div class="report-actions layout-row layout-align-space-between-center">
      <span class="flex"></span>
      
      <%= link_to 'Back', measure_reports_path, class: "btn btn-default" if action_name == 'show' %>
      
      <%= link_to measure_report, class: "icon-action", 'aria-label': "Show details" do %>
        <i class="fa fa-lg fa-eye text-primary"></i>
      <% end unless action_name == 'show' %>
      
      <% if current_user.try(:admin?) || current_user == measure_report.author %>
        <%= link_to edit_measure_report_path(measure_report), class: "icon-action", 'aria-label': "Edit" do  %>
          <i class="fa fa-lg fa-pencil text-primary"></i>
        <% end -%>
        <%= link_to measure_report, method: :delete, remote: true, class: "icon-action", data: {confirm: 'Are you sure you want to delete this report?'}, "aria-label": "Delete" do %>
          <i class="fa fa-lg fa-trash text-danger"></i>
        <% end -%>
      <% end %>
    
    </div>
  </div>
</div>