<div class="panel panel-info" data-report-id="<%= measure_report.id %>">
  
  <div class="col-xs-12 bg-default">
    <p>Period from <strong><%= formatted_date(measure_report.date_start) %></strong> to <strong><%= formatted_date(measure_report.date_end) %></strong></p>
  </div>

  <div class="panel-body">
    
    <%= render partial: 'shared/parents_information', locals: { parents: measure_report.performance_measure.parents, label_width: "col-xs-4", content_width: "col-xs-8" } %>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Measure</label>
      <div class="col-xs-8">
        <p><%= measure_report.performance_measure.description %></p>
      </div>
    </div>

    <% if action_name == "show" %>
      
      <% entries = measure_report.performance_factor_entries %>
      <% entries.each_with_index do |entry, idx| %>
        
        <%= tag :hr if idx == 0 %>
        
        <div class="row">
          
          <label class="col-xs-4 control-label measure-report-label"><%= entry.performance_factor.label_text %></label>
          
          <div class="col-xs-8">
            <p class="no-margin"><%= entry.data %></p>
            <p class="text-default"><%= entry.comments %></p>
          </div>
          
        </div>
        
        <%= tag :hr if idx == entries.size - 1 %>
      
      <% end %>

    <% end %>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Performance</label>
      <div class="col-xs-8">
        <p><%= measure_report.performance %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Status</label>
      <div class="col-xs-8">
        <p><%= measure_report.status %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Comments</label>
      <div class="col-xs-8">
        <p><%= measure_report.comments %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">BMS Comments</label>
      <div class="col-xs-8">
        <p><%= measure_report.bms_comments %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Person Reporting To BMS</label>
      <div class="col-xs-8">
        <p><%= measure_report.performance_measure.person_reporting_data_to_bms %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-4 control-label measure-report-label">Posted by</label>
      <div class="col-xs-8">
        <p><%= measure_report.author.try(:email) %></p>
      </div>
    </div>

    <% if action_name == "show" %>
      <div class="row">
        <label class="col-xs-4 control-label measure-report-label">Last Edited by</label>
        <div class="col-xs-8">
          <p><%= measure_report.last_editor.try(:email) %></p>
        </div>
      </div>
    <% end -%>

    
    <%= render partial: "shared/card_actions", locals: { resource: measure_report } %>

  </div>
</div>