<div class="panel panel-info" data-report-id="<%= measure_report.id %>">
  <div class="col-xs-12 bg-default">
    <p>Period from <strong><%= measure_report.date_start %></strong> to <strong><%= measure_report.date_end %></strong></p>
  </div>

  <div class="panel-body">
    
    <% measure_report.performance_measure.parents.each do |parent| %>
      <div class="row">
        <label class="col-xs-3 control-label limit-text capitalize"><%= parent.model_name.human %></label>
        <div class="col-xs-9">
          <p><%= parent.name %></p>
        </div>
      </div>
    <% end %>

    <div class="row">
      <label class="col-xs-3 control-label limit-text">Measure</label>
      <div class="col-xs-9">
        <p><%= measure_report.performance_measure.description %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-3 control-label limit-text">Performance</label>
      <div class="col-xs-9">
        <p><%= measure_report.performance %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-3 control-label limit-text">Status</label>
      <div class="col-xs-9">
        <p><%= measure_report.status %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-3 control-label limit-text">Comments</label>
      <div class="col-xs-9">
        <p><%= measure_report.comments %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-3 control-label limit-text">BMS Comments</label>
      <div class="col-xs-9">
        <p><%= measure_report.bms_comments %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-3 control-label limit-text">Posted by</label>
      <div class="col-xs-9">
        <p><%= measure_report.author.try(:email) %></p>
      </div>
    </div>

    <div class="row">
      <label class="col-xs-3 control-label limit-text">Last Edited by</label>
      <div class="col-xs-9">
        <p><%= measure_report.last_editor.try(:email) %></p>
      </div>
    </div>

    
    <div class="report-actions">
      <%= link_to 'Show', measure_report, class: "btn btn-default" unless action_name == 'show' %>
      <%= link_to 'Back', measure_reports_path, class: "btn btn-default" if action_name == 'show' %>
      <% if current_user.try(:admin?) || current_user == measure_report.author %>
        <%= link_to 'Edit', edit_measure_report_path(measure_report), class: "btn btn-default"  %>
        <%= link_to 'Delete', measure_report, method: :delete, remote: true, data: {confirm: 'Are you sure you want to delete this report?'}, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>