<div class="row">
  <div class="col-md-10 col-md-offset-1">
   
    <%= form_for @measure_report, html: { class:"form-horizontal" }, data: { turbolinks: true } do |report_fields| %>
      <fieldset>
        <legend>Measure Validation and Results Submission Form</legend>
        
        <% @measure_report.performance_measure.parents.each do |parent| %>
          <div class="form-group">
            <label class="col-md-3 control-label capitalize"><%= parent.model_name.human %></label>
            <div class="col-md-9">
              <p class="measurable-name"><%= parent.name %></p>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <%= report_fields.label :performance_measure_id, "Measure", class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%# report_fields.collection_select :performance_measure_id,
                                                PerformanceMeasure.all,
                                                :id,
                                                :description,
                                                {},
                                                class: "form-control" %> 
            <%= content_tag :p, @measure_report.performance_measure.description %>
          </div>
        </div>

        <div class="form-group">
          <%= report_fields.label :date_start, "Start Date", class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= report_fields.date_select :date_start, { order: [:month, :year], with_css_classes: true }, { class: "form-control", required: true } %> 
          </div>
        </div>

        <div class="form-group">
          <%= report_fields.label :date_end, "End Date", class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= report_fields.date_select :date_end, { order: [:month, :year], with_css_classes: true }, { class: "form-control", required: true } %> 
          </div>
        </div>

        <!-- <legend class="sublegend">Performance Factors</legend> -->
        
        <div class="form-group">
          <%= report_fields.label :performance, "Performance", class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= report_fields.text_field :performance, class: "form-control", required: true, disabled: !current_user.try(:admin?) %>
          </div>
        </div>
        
        <div class="form-group">
          <%= report_fields.label :status, "Status", class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= report_fields.select :status, ["All is well with performance. Target will be or is met.", "Performance is not where expected or current status is in trouble.", "Target will not be or is not met."], {}, class: "form-control" %>
          </div>
        </div>
        
        <div class="form-group">
          <%= report_fields.label :comments, "Comments", class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= report_fields.text_area :comments, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= report_fields.label :bms_comments, "BMS Comments", class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= report_fields.text_area :bms_comments, class: "form-control" %>
          </div>
        </div>

        <div class="pull-right">
          <%= report_fields.submit class: "btn btn-primary" %>
        </div>

        <%= link_to 'Cancel', measure_reports_path, class: "btn btn-default" %>

      </fieldset>
    <% end %>

  </div>
</div>
