<%= link_to 'New Measure report', new_measure_report_path, class: "btn btn-success pull-right" %>
<h3>Measure Reports</h3>

<hr />

<div class="row">
  <div class="col-xs-12">
    
    <%= form_tag measure_reports_path, method: :get, class: "layout-row layout-align-end-start" do %>
      <div class = "form-group margin-right-sm">
        <%= collection_select :query,
                              'key_focus_areas.id',
                              KeyFocusArea.order(:name),
                              :id,
                              :name,
                              { prompt: "Find Reports by Key Focus Area" },
                              class: "form-control" %>
      </div>

        <%= button_tag type: "submit", class: "btn btn-default" do %>
          <span class="fa fa-lg fa-filter"></span> Filter
        <% end -%>
    <% end -%>
    
  </div>
</div>
  
<div class="row flex-row">
  <% @measure_reports.each do |measure_report| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <%= render measure_report %>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @measure_reports %>
</div>
