<div class="panel panel-info" data-report-id="<%= @measure_report.id %>">
  <div class="col-xs-12 well">
    <p>Period from <strong><%= @measure_report.date_start %></strong> to <strong><%= @measure_report.date_end %></strong></p>
  </div>

  <div class="panel-body">

    <p><strong>Measure:</strong> <%= @measure_report.performance_measure.description %></p>
    <p><strong>Performance:</strong> <%= @measure_report.performance %></p>
    <p><strong>Status:</strong> <%= @measure_report.status %></p>
    <p><strong>Comments:</strong> <%= @measure_report.comments %></p>
    <p><strong>Posted by:</strong> <%= @measure_report.author.email %></p>

    <br>
    
    <div class="flex layout-row">
      <%= link_to 'Edit', edit_measure_report_path(@measure_report), class: "btn btn-default" %> 
      <%= link_to 'Back', measure_reports_path, class: "btn btn-default" %>
      <%= link_to 'Delete', measure_report_path(id: @measure_report.id), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>