<p id="notice"><%= notice %></p>

<p>
  <strong>Performance measure:</strong>
  <%= @performance_factor.performance_measure_id %>
</p>

<p>
  <strong>Label text:</strong>
  <%= @performance_factor.label_text %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @performance_factor.field_type %>
</p>

<%= link_to 'Edit', edit_performance_factor_path(@performance_factor) %> |
<%= link_to 'Back', performance_factors_path %>
